.Content {
    width: 700px;
    margin: 0 auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    transform: translate(0, 180px);
}

.Content h2 {
    text-transform: uppercase;
    color: #292929;
    text-align: center;
}

.Page {
    background: url("../../assets/img/vadim-sherbakov-277610.jpg") center no-repeat;
    background-size: cover;
    height: 600px;
}