.feedback-form {
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    width: 850px;
    margin: 0 auto;
}

.Feedback {
    background: url("../../assets/img/sabri-tuzcu-331970.jpg") center no-repeat;
    background-size: cover;
    height: 530px;
    padding-top: 100px;
}

.feedback-form h2 {
    text-transform: uppercase;
    color: #fff;
}

.feedback-form input {
    border: 1px solid #4d4d4d;
    outline: none;
    font-size: 16px;
    padding: 6px 10px;
    margin: 10px auto;
    display: block;
    width: 500px;
    box-sizing: border-box;
}

.feedback-form button {
    outline: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: #316ad3;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

.feedback-form button:hover {
    cursor: pointer;
    box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.75);
}